body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px; /* Optional: to constrain the container's max width */
}

h1, h2, h3, h4, h5, h6, p, form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#result {
    display: none; /* Hide the result initially */
    text-align: center;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #e9f7fd;
    width: 80%; /* Default width for small screens */
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    #result {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    #result {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    #result {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    #result {
        max-width: 1140px;
    }
}

.show {
    display: block !important; /* Show the result when this class is added */
}
