body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

p {
    text-aligh: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#result {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #e9f7fd;
}

